<div class='container-fluid' id='subjects'>
  <img class='bg' src='assets/images/space.png'>
  <div class='container'>
    <div class='row'>
      <div class='col-5' id='subject-tutors'>
        <div class='tutor-card' *ngFor='let tutor of tutors'>
          <div class='row'>
            <div class='col-3'>
              <div class='image-container'>
              <img src='assets/images/tutor-1.png'>
              </div>
              </div>
              <div class='col-9'>
                <h3>Roger Fenton</h3>
                <h4>1000 Years Experience</h4>
                <p>Strong colourful lessons with me, the teacher of lessons great and small and wide and upside-down and this is the end of the sentence that I am writing now.</p>

                </div>
            </div>
        </div>
        </div>
        <div class='col-7'>
          <div class='subject-card'>

            <h1>PICK A <span style='color:#0ff140;'>SUBJECT</span> AND BEGIN YOUR JOURNEY</h1>
            <div class='row'>
            <div class='col-4'>
              <span class='subject-icon'>a</span>
              <h2>ENGLISH</h2>
            </div>
            <div class='col-4'>
              <span class='subject-icon'>+</span>
              <h2>MATHS</h2>
            </div>
            <div class='col-4'>
              <span class='subject-icon guo-yu'>中</span>
              <h2>MANDARIN</h2>
            </div>
            </div>

            <div class='row'>
            <div class='col-4'>
              <span class='subject-icon'>Ex</span>
              <h2>EXAMS</h2>
            </div>
            <div class='col-4'>
              <span class='subject-icon'>f#</span>
              <h2>MUSIC</h2>
            </div>
            <div class='col-4'>
              <span class='subject-icon'>&#123;&#125;</span>
              <h2>CODING</h2>
            </div>
            </div>


          </div>
          </div>
    </div>
  </div>
</div>
