
.fluid-container {
  background-color: #0f51f0;
  position: relative;
  z-index: 1;
  padding-bottom: 140px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 1em;
  border-bottom: 2px solid rgba(255,255,255,0.25);
  padding-bottom: 7px;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 14px;
}

h2 {
  font-family: 'Nunito', cursive;
  font-size: 4.109em;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 70px;
  text-align: right;

}

.tutor-card {
  color: #000;
  background-color: #fefe73;
  border-radius: 7px;
  padding: 14px;
  margin-bottom: 7px;
  border: 2px solid #000;

}

.tutor-card .image-container {
  width: 100%;
  position: relative;
  margin-left: 7px;
  margin-top: 7px;
  display: block;
  float: left;
  margin-bottom: 14px;
}

.tutor-card img {
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  float: left;
  border: 5px solid #0f51f0;
  box-shadow: 0px 0px 0px 4px #333;
  border-radius: 100%;
}

.tutor-card h3 {

margin-top: 14px;
padding-bottom: 7px;
letter-spacing: 1px;
font-size: 1.333em;
width: 96%;
font-family: 'Fredoka One', cursive;

}

.schedule-container {
  font-size: 0.666em;
  font-family: 'Roboto Mono', monospace;

}

.schedule-container p {
  margin-top: 4px;
  margin-bottom: 4px;


}

.schedule-container span {
  font-family: 'Fredoka One', cursive;
  color: #f10d63;
  display: inline-block;
  width: 28px;


}

.tutor-card h4 {
  margin-top: 7px;
  margin-bottom: 14px;
}

.tutor-card h6 {
  font-family: 'Fredoka One', cursive;
border-radius: 14px;
padding: 4px;
border: 2px solid #0ff140;
display: inline;
float: left;
margin-right: 14px;
padding-left: 10px;
padding-right: 10px;

}

.tutor-card p {
  font-family: 'Open Sans', sans-serif;
}

.tutor-card .price {
  position: absolute;
  background-color: #0ff140;
  padding: 4px;
  right: -14px;
  top: -15px;
  width: 154px;
  padding-left: 14px;
  display: block;
  color: #fff;
  font-size: 1.777em;

}

.tutor-card .triangle {
  position: absolute;
  right: -14px;
  top: -8px;
  width: 0;
height: 0;
border-bottom: 7px solid #00bd2a;
border-right: 13px solid transparent;
}

.bio {
padding: 7px;
}

.sidebar {
  color: #fff;
}

.sidebar h2 {
  transform: skewX(12deg);
  border-bottom: 2px solid #fff;
  padding-bottom: 14px;
  margin-bottom: 14px;
  font-family: 'Fredoka One', cursive;
}

.sidebar h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.333em;
  margin-top: 42px;
  padding-left: 17px;

}

.sidebar p {
  padding-left: 17px;
}

.green-text {
  color: #0ff140;
  font-family: 'Fredoka One', cursive;

}

.pink-text {
  color: #fefefe;
  font-size: 1.333em;
}

.btn {

  margin-top: 14px;
  color: #fff;
  width: 100%;
  position: relative;
  font-family: 'Fredoka One', cursive;
background: linear-gradient(135deg, rgba(243,57,126,1) 0%,rgba(241,13,99,1) 50%,rgba(236,0,97,1) 100%);
  border: 2px solid #000;
  border-radius: 7px;
  padding: 7px;

}

.btn::after {
  position: absolute;

background: linear-gradient(red, blue);
content: '';
z-index: -1;
border-radius: 16px;
}


.fa-certificate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
