<div class='fluid-container'>
<div class='container'>
  <div class='row'>
  <div class='col-8' id='subject-tutors'>
    <h1><i style='color:#f00;font-size:1.777em;margin-right:14px;' class="fas fa-certificate"></i> New Tutors in your area !</h1>
    <div class='tutor-card' *ngFor='let tutor of tutors'>
      <div class='row'>
        <div class='col-3'>
          <div class='image-container'>
            <img [src]="tutor.profilePath" [alt]="tutor.firstname">
          </div>
          <div class='schedule-container'>
          <p><span>Mon:</span> {{tutor.monday}}</p>
          <p><span>Tue:</span> {{tutor.tuesday}}</p>
          <p><span>Wed:</span> {{tutor.wednesday}}</p>
          <p><span>Thu:</span> {{tutor.thursday}}</p>
          <p><span>Fri:</span> {{tutor.friday}}</p>
          <p><span>Sat:</span> {{tutor.saturday}}</p>
          <p><span>Sun:</span> {{tutor.sunday}}</p>
          </div>
          </div>
          <div class='col-9'>
            <h3>{{tutor.firstname}} {{tutor.lastname}}</h3>
            <h3 class='price'>{{tutor.price}} <span style='font-size: 0.75em;color:#000;'>HKD</span></h3>
            <div class='triangle'></div>
            <p class='bio'>{{tutor.bio}}</p>
            <h6 *ngFor='let specialisation of tutor.specialisationList'>{{specialisation}}</h6>
            <button *ngIf='!isAuth' type='button' class='btn' (click)="NgxSmartModalService.getModal('logIn').open()">Log in to Book</button>
            <button *ngIf='isAuth' type='button' class='btn' (click)="openBookingModal(tutor)">Book A Trial Lesson</button>
            </div>
        </div>
    </div>


    </div>
    <div class='col-4 sidebar'>
      <h2>How Does It Work<span class='green-text'>?</span></h2>
      <h3><span class='pink-text'>Step 1:</span> Booking Your Lesson</h3>
      <p>You choose the <span class='green-text'>time</span> and the <span class='green-text'>meeting place</span>. Easy booking!</p>
      <h3><span class='pink-text'>Step 2:</span> Receiving Updates</h3>
      <p>Download the app to receive lesson <span class='green-text'>notifications</span> and <span class='green-text'>reminders</span> direct to your device.</p>
      <h3><span class='pink-text'>Step 3:</span> Lesson time!</h3>
      <p>We hope you enjoy your first lesson with your new tutor! If you aren't satisfied, we offer a <span class='green-text'>100% refund</span></p>
    </div>
  </div>
  </div>
  </div>
