<StackLayout>
<Label class="heading" text="Bookings"></Label>
<StackLayout class="booking-container">>
<StackLayout orientation="horizontal" class="booking-card">
  <StackLayout class="booking-column-8">
  <Label class="tutor-name" text="Tutor McTutorson"></Label>
  <Label class="tutor-subject" text="English"></Label>
  <Label class="tutor-location" text="48, 14F, 148 Cheung Sha Wan Road, Cheung Sha Wan"></Label>
  <Label class="tutor-see-map" text="See Map"></Label>
  </StackLayout>
  <StackLayout class="booking-column-4">
  <Label class="lesson-day" text="Sunday"></Label>
  <Label class="lesson-date" text="12th July"></Label>
  <Label class="lesson-time" text="11:30"></Label>
  </StackLayout>
</StackLayout>
</StackLayout>
</StackLayout>
