h1 {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 7px;
    border-bottom: #f10d63;
    color: #f10d63;
    font-size: 1.777em;
    margin-bottom: 21px;
}

::ng-deep .mat-tab-label {
  font-family: 'Fredoka One', cursive !important;
  background-color: #252525;

}

::ng-deep .mat-tab-label:nth-of-type(1) {
  background-color: #f10d63;

}
::ng-deep .mat-tab-label:nth-of-type(2) {
  background-color: #0f51f0;

}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #000;
}

::ng-deep .mat-tab-label-active {
  background-color: #252525;
}
