.container-fluid {
  max-height: 70px;
    background-color: #ffe11d;
    box-shadow: 0px 0px 0px 3px #ffe11d;
    position: fixed;
    z-index: 9;
}

.container {

}

nav {
    font-family: 'Fredoka One', cursive;
      letter-spacing: 1px;
      font-size: 1.333em;
      margin-top: 14px;
}

nav button {
  min-width: 96px;
}

ul {
  display: inline;
  float: right;
}

li {
  display: inline;
  margin-left: 14px;
}

span {
 color: #000;
 text-align: center;
 font-size: 4.109em;
 font-family: 'Fredoka One', cursive;
 display: inline;
 float: left;
 transform: rotate(-16deg);
 margin-left: 16px;
 position: relative;
 top: -14px;

}


h1 {
  color: #000;
  text-align: center;
  font-size: 2.369em;
  font-family: 'Fredoka One', cursive;
  display: inline;
  float: left;
  letter-spacing: 5px;
  margin-top:14px;

}

.btn-login {
background-color: #252525;
  color: #fff;
}

.btn-transparent {
  background: rgba(255,255,255,0);
}

.btn-dashboard {
  background: #f10d63;
  color: #fff;
}

.btn-signup {
  background: rgba(11, 68, 200, 0.9);
  color: #fff;
}

.btn-notifications {
background: none;
border: 2px solid #000;
border-radius: 7px;
color: #000;
}

::ng-deep.mat-menu-panel {
  font-family: 'Fredoka One', cursive;
  background-color: #fefefe;
  border-radius: 2px !important;
  margin-top: 7px !important;
}

::ng-deep.mat-menu-item {
    color: #000;
    font-family: 'Fredoka One', cursive;

}
