<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-6'>
      <h1>HeyTutor</h1><span>!</span>
      </div>
      <div class='col-6'>
        <nav>
          <ul><li><button class='btn btn-signup' (click)="NgxSmartModalService.getModal('signUp').open()">Sign Up</button></li></ul>
          <ul><li><button class='btn btn-login' (click)="NgxSmartModalService.getModal('logIn').open()">Log in</button></li></ul>
          <ul><li><button class='btn btn-transparent'>Parents</button></li></ul>
          <ul><li><button class='btn btn-transparent'>Tutors</button></li></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
