<app-login></app-login>
<app-signup></app-signup>
<app-on-logout></app-on-logout>
<app-on-login></app-on-login>

<div class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col-6'>
      <h1>HeyTutor</h1><span>!</span>
      </div>
      <div class='col-6'>
        <div class='row'>
        <nav>
          <ul>
          <li *ngIf='!isAuth'><button class='btn btn-signup' (click)="NgxSmartModalService.getModal('signUp').open()">Sign Up</button></li>
          <li *ngIf='!isAuth'><button class='btn btn-login' (click)="NgxSmartModalService.getModal('logIn').open()">Log in</button></li>
          <li><button class='btn btn-transparent'>Parents</button></li>
          <li><button class='btn btn-transparent'>Tutors</button></li>
          <button class='btn btn-notifications' [matMenuTriggerFor]="menu"><i class="fas fa-comment-alt"></i></button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item><i style='color: #545454;margin-right:14px;' class="fas fa-circle"></i> You Have a new Booking!</button>
  <button mat-menu-item><i style='color: #545454;margin-right:14px;' class="fas fa-circle"></i> You Have a Lesson in 24hrs!</button>
</mat-menu>
          <a routerLink='/dashboard'><li *ngIf='isAuth'><button class='btn btn-signup'>Dashboard</button></li></a>
          <li *ngIf='isAuth'><button class='btn btn-login' (click)="onLogout()">Logout</button></li>
        </ul>
        </nav>
        </div>
      </div>
    </div>
  </div>
</div>
