<app-nav></app-nav>
<div class='container' id='page-container'>
  <div class='row'>
    <div class='col-9'>
    <div class='tutor-card'>
      <div class='row'>
        <div class='col-3'>
          <div class='image-container'>
          <img src='assets/images/tutor-1.png'>
          </div>
          </div>
          <div class='col-9'>
            <h3>Roger Fenton</h3>
            <h4>1000 Years Experience</h4>
            <p>Strong colourful lessons with me, the teacher of lessons great and small and wide and upside-down and this is the end of the sentence that I am writing now.</p>

            </div>
        </div>
    </div>
    <div class='tutor-card'>
      <div class='row'>
        <div class='col-3'>
          <div class='image-container'>
          <img src='assets/images/tutor-1.png'>
          </div>
          </div>
          <div class='col-9'>
            <h3>Roger Fenton</h3>
            <h4>1000 Years Experience</h4>
            <p>Strong colourful lessons with me, the teacher of lessons great and small and wide and upside-down and this is the end of the sentence that I am writing now.</p>

            </div>
        </div>
    </div>
    <div class='tutor-card'>
      <div class='row'>
        <div class='col-3'>
          <div class='image-container'>
          <img src='assets/images/tutor-1.png'>
          </div>
          </div>
          <div class='col-9'>
            <h3>Roger Fenton</h3>
            <h4>1000 Years Experience</h4>
            <p>Strong colourful lessons with me, the teacher of lessons great and small and wide and upside-down and this is the end of the sentence that I am writing now.</p>

            </div>
        </div>
    </div>
    </div>
    <div class='col-3'>
      <div id='search-options'>
        <hr>
        <div class='subject-card'>
            <div class='row'>
              <div class='col-4'>
                <h3 class='subject-icon'><span>a</span></h3>
                <h2>ENGLISH</h2>
              </div>
              <div class='col-4'>
                <h3 class='subject-icon'><span>+</span></h3>
                <h2>MATHS</h2>
              </div>
              <div class='col-4'>
                <h3 class='subject-icon guo-yu'><span>中</span></h3>
                <h2>MANDARIN</h2>
              </div>
            </div>
            <div class='row'>
            <div class='col-4'>
              <h3 class='subject-icon'><span>Ex</span></h3>
              <h2>EXAMS</h2>
            </div>
            <div class='col-4'>
              <h3 class='subject-icon'><span>f#</span></h3>
              <h2>MUSIC</h2>
            </div>
            <div class='col-4'>
              <h3 class='subject-icon'><span>&#123; &#125;</span></h3>
              <h2>CODING</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class='schedule-container'>
        <button (click)="monOn()" [ngClass]="{'active': monday == true}" class='btn btn-schedule'>Mon</button>
        <button (click)="tueOn()" [ngClass]="{'active': tuesday == true}" class='btn btn-schedule'>Tue</button>
        <button (click)="wedOn()" [ngClass]="{'active': wednesday == true}" class='btn btn-schedule'>Wed</button>
        <button (click)="thuOn()" [ngClass]="{'active': thursday == true}" class='btn btn-schedule'>Thu</button>
        <button (click)="friOn()" [ngClass]="{'active': friday == true}" class='btn btn-schedule' style='margin-left: 26px'>Fri</button>
        <button (click)="satOn()" [ngClass]="{'active': saturday == true}" class='btn btn-schedule'>Sat</button>
        <button (click)="sunOn()" [ngClass]="{'active': sunday == true}" class='btn btn-schedule'>Sun</button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
