
label {
  font-family: 'Fredoka One', cursive;
  margin-bottom: 4px;
}

input {
  border: 2px solid #000;
  font-family: 'Fredoka One', cursive;

}

textarea {
  border: 2px solid #000;
  font-family: 'Fredoka One', cursive;

}

h1 {
  padding-bottom: 14px;
  border-bottom: 2px solid #000;
  font-family: 'Fredoka One', cursive;
  font-size: 1.777em;
  margin-bottom: 14px;

 }

button[type=submit] {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  background: #f10d63;
  border: 2px solid #000;

}
