<div class='form-container' [@slide]='state'>
  <form [formGroup]='form' (submit)='onFormSubmit()' #f=ngForm>
  <h1>It's time to let us know a bit more about yourself!</h1>
  <p>This is the first thing people will see when they're looking for a new teacher so give it your best shot! Upload a nice photo and write a short description about yourself in the area below. How long have you been teaching? What do you specialise in?</p>
  <div class='form-group white-border'>
    <label for='location'>Location</label>
      <select formControlName='location'>
        <option *ngFor='let district of districts; let i = index' [attr.selected]='i == 0 ? true : null'>{{district}}</option>
      </select>
    <label for='profile'>Add Profile Photo</label>
    <div class='temp-circle' *ngIf="!profilePreview && form.get('profile').invalid"></div>
    <div class='form-preview' *ngIf="profilePreview !== '' && profilePreview && form.get('profile').valid">
      <img [src]="profilePreview" [alt]="profilePreview">
    </div>
    <button type='button' (click)="profilePicker.click()" class='btn green credentials'>Upload</button>
    <input type='file' name='profile' #profilePicker (change)="onProfilePicked($event)">
  </div>
<div class='form-group'>
  <label for='bio'>Your Bio : Minimum of 140 characters</label>
  <textarea formControlName='bio' id='bio' name='bio' ngModel class='form-control' rows='10'></textarea>
  <ng-template [ngIf]="!this.form.get('bio').valid && form.get('bio').touched"><p class='unauthorized'>Bio must be at least 140 characters</p></ng-template>
</div>
  <button type='submit'>Continue</button>
  </form>
</div>
