h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 1.333em;
    margin-bottom: 14px;
    margin-top: 14px;
}

label {
  font-family: 'Fredoka One', cursive;
}

input {
  border: 3px solid #000;
  font-family: 'Fredoka One', cursive;

}

.sign-up {
text-align: center;
font-family: 'Fredoka One', cursive;
font-size: 0.75em;
margin-top: 0px;
margin-left: 14px;
}

.login {
  font-family: 'Fredoka One', cursive;
  background-color: #f10d63;
  border-radius: 7px;
  color: #fff;
  border: 4px solid #000;
}

.unauthorized {
  font-family: 'Fredoka One', cursive;
    font-size: 0.75em;
    margin-top: 7px;
    color: #e91f1f;
}
