<div class='form-container'>
  <form>
  <h1>Choose your Subjects</h1>
  <p>This is where you start to specialise! You can add specializations within each subject. You can add multiple subjects later if you wish.</p>
  <div class='form-group'>
  <select>
  <option>English</option>
  <option>Maths</option>
  <option>Mandarin</option>
  <option>Music</option>
  <option>French</option>
  <option>Coding</option>
  <option>Other...</option>
  </select>
  </div>
  <p>You can add a new specialization for SUBJECT here</p>
  <div class='row'>
    <div class='col-4'>
    <button class='btn add-new-specialization'>Add New Specialisation +</button>
    </div>
    <div class='col-4'>
    <input type='text' class='specialization-input'>
    </div>
    <div class='col-4'>
    <button type='submit' class='specialization-submit'>Save</button>
    </div>
  </div>
  <h6>Literature</h6><h6>IELTS</h6><h6>Phonics</h6>
  <button type='submit'>Continue</button>
  </form>
</div>
