<div class='form-container' [@slide]='state'>
  <form [formGroup]='form' (submit)='onFormSubmit()'>
  <h1>Choose your Subjects</h1>
  <p>This is where you start to specialise! You can add specialisations within each subject. You can add multiple subjects later if you wish.</p>
  <div class='form-group'>
    <div class='row'>
    <div class='col-6'>
          <label for='subject'>Subject</label>
  <select formControlName='subject'>
  <option>English</option>
  <option>Maths</option>
  <option>Mandarin</option>
  <option>Music</option>
  <option>French</option>
  <option>Coding</option>
  <option>Other...</option>
  </select>
  </div>
  <div class='col-6'>
    <label for='price'>Price</label><span>HKD</span>
    <input type='text' formControlName='price' class='price-input'>
    </div>
  </div>
  </div>
  <div class='row'>
    <p>You can add specialisations in your subject, things such as phonics, drama or other special skills</p>
    <div class='col-4'>
    <button type='button' class='btn add-new-specialisation' (click)='addNewSpecialisation()'>Add New Specialisation +</button>
    </div>
   <ng-template [ngIf]='newSpecialisationAdded'>
    <div class='col-4'>
    <input type='text' formControlName='newSpecialisation' class='specialisation-input'>
    </div>
    <div class='col-4'>
    <button type='button' class='btn specialisation-submit' (click)='saveNewSpecialisation()'>Save</button>

    </div>
    </ng-template>
  </div>
  <div class='tag-container'>
  <h6 *ngFor='let specialisation of specialisationList'>{{this.specialisation}}</h6>
  </div>
  <button type='submit'>Continue</button>
  </form>
</div>
