.form-container {
  min-height: 420px;
  display: inline-block;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 7px;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 66.666%;
  margin-left:16.6666%;
  padding: 42px;
  color: #fff;
  font-family: 'Fredoka One', cursive;
}

button[type='submit'] {
  padding: 14px;
  margin: auto;
  margin-left: 33.333%;
  border: 2px solid #fff;
  border-radius: 7px;
  min-width: 33.333%;
  background-color: rgba(255,255,255,0.5);
  transition: 0.2s;
  cursor: pointer;
  margin-top: 42px;
}

button[type='submit']:hover {
  background-color: #fff;
}



h1 {
  font-size: 1.777em;
  margin-bottom: 14px;
}

p {

  margin-bottom: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.333em;
  padding: 14px;
}

label {
  width: 100%;
  text-align: left;
  margin-top: 14px;
}

textarea {
  width: 100%;
  border: 2px solid #fff;
  background-color: none;
  border-radius: 7px;
  margin-bottom: 14px;
  margin-top: 14px;
}

select {
  padding: 7px;
  border-radius: 7px;
  margin-bottom: 14px;
  width: 100%;
}

.price-input {
  padding-top: 5px;
  padding-bottom: 7px;
  width: 100%;
  border-radius: 7px;
  border:none;
  width: 87.5%;
  margin-right:1%;
  float: left;
  display: inline;
  padding-left: 7px;
}

span {
  display: inline-block;
  float: right;
  width: 10.5%;
  text-align: left;
  margin-top: 7px;

}

.add-new-specialisation {
  background: #0ff140;
  border: 2px solid #0ff140;
  font-size: 1em;
  color: #fff;
  border-radius: 7px;
}

.specialisation-input {

  border: 7px;
  padding: 7px;
  border-radius: 7px;
  padding-bottom: 8px;
  width: 100%;
}

.specialisation-submit {
  background-color: #f10d63 !important;
  width: 100% !important;
  margin-left: 0 !important;
  border: 2px solid #f10d63 !important;
  padding: 2px !important;
  border-radius: 70px !important;
  color: #fff !important;
  margin-top:3px !important;
}

h6 {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 4px;
  display: inline-block;
  margin-right: 14px;
  margin-top: 14px;
  margin-bottom: 14px;

}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility:inherit;
  opacity: 1;
}

.tag-container {
  width: 100%;
  display: block;
}

.unauthorized {
  font-family: 'Fredoka One', cursive;
    font-size: 0.75em;
    margin-top: 7px;
    color: #e91f1f;
}
