.container-fluid { background-color: #0f51f0;min-height:100vh;}

.order-summary {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-color: #fff;
  padding: 21px;
  padding-top: 18px;
  margin-top: 42px;
  border-radius: 7px;
  width: 66.666%;
  margin-left: 16.666%
}

.order-summary i {
  color: #0ff140;
  font-size: 4.209em;
  margin-bottom: 14px;
}

.order-summary h1 {
  font-size: 2.369em;
}

.order-summary h2 {
  font-size: 1.777em;
  margin-top: 14px;
  padding-top: 14px;
}

.order-summary h3 {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: right;
  padding-right: 7px;
  font-size: 1.333em;
}

.order-summary h4 {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 1.333em;
  padding-left: 7px;
}

.order-summary h5 {
  font-size: 1.333em;
  padding-top: 14px;
  margin-top: 14px;
}

.order-summary h6 {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: right;
  padding-right: 7px;
  font-size: 1em;
}

.order-summary p {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: left;
  padding-right: 7px;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
}
