.form-container {
  min-height: 420px;
  display: inline-block;
  border: 2px solid #fff;
  width: 100%;
  border-radius: 7px;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 66.666%;
  margin-left:16.6666%;
  padding: 42px;
  color: #fff;
  font-family: 'Fredoka One', cursive;
}

input[type='file'] {
  visibility: hidden;
  height: 0;
  width: 0;
}

button[type='submit'] {
  padding: 14px;
  margin-left: 33.333%;
  border: 2px solid #fff;
  border-radius: 7px;
  min-width: 33.333%;
  background-color: rgba(255,255,255,0.5);
  transition: 0.2s;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #fff;
}

input[type='file'] {
  visibility: hidden;
}

h1 {
  font-size: 1.777em;
  margin-bottom: 14px;
}

p {

  margin-bottom: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.333em;
}

label {
  width: 100%;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #fff;
}

textarea {
  width: 100%;
  border: 2px solid #fff;
  background-color: none;
  border-radius: 7px;
  margin-bottom: 14px;
  margin-top: 14px;
}

select {
  padding: 7px;
  border-radius: 7px;
  margin-bottom: 14px;
  margin-top: 14px;
  width: 100%;
}

span {
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 14px;
}

.temp-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}

.green {
  background-color: #0ff140;
  color: #fff;
}

.credentials {
  width: 50%;
  margin-left: 25%;
  bottom: 0px;
}

.form-preview p {
  font-family: 'Fredoka One', cursive;
  height: 120px;
  line-height: 120px;
  width: 120px;
  border: 2px solid #0ff140;
  text-align: middle;
  margin: auto;
  border-radius: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 2.369em;
}

.form-preview-error p {
  font-family: 'Fredoka One', cursive;
  height: 120px;
  line-height: 120px;
  width: 120px;
  border: 2px solid #ff0000;
  text-align: middle;
  margin: auto;
  border-radius: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 2.369em;
  color: #ff0000;
}
