<ngx-smart-modal #signUp [identifier]="'signUp'">
<h1>Sign up</h1>
<h3>Join our growing, friendly community today!</h3>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sign up as a student or parent?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-student-signup></app-student-signup>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sign up as a tutor?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tutor-signup></app-tutor-signup>
  </mat-expansion-panel>
</mat-accordion>
<!-- <h2>Sign up as a student or parent?</h2>
<h2>Sign up as a tutor</h2> -->
<button class='btn open-login' type='button' (click)="openLogin()">or Log in here?</button>
</ngx-smart-modal>
