<app-nav></app-nav>
<div class='container-fluid'>
  <div class='container'>
  <div class='row'>
    <div class="col-6">
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <h1>Billing Details</h1>
    <h2>Pay with Credit / Debit Card <i class="fas fa-credit-card"></i></h2>

    <div class='form-container'>
  <div class='form-row'>
    <label for='name'>Name</label>
    <input class='payment-input' type='text' ngModel name='name'>
  </div>
  <div class='form-row'>
    <label for='addressLine1'>Address Line 1</label>
    <input class='payment-input' type='text' ngModel name='addressLine1'>
  </div>
  <div class='form-row'>
    <label for='addressLine2'>Address Line 2</label>
    <input class='payment-input' type='text' ngModel name='addressLine2'>
  </div>
  <div class='form-row'>
    <label for='addressLine3'>Address Line 3</label>
    <input class='payment-input' type='text' ngModel name='addressLine3'>
  </div>
  <div class="form-row">
    <label for="card-info">Card Info</label>
    <div id="card-info" #cardInfo>

    </div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <div class='form-row'>
  <button class='btn' type="submit">Pay Now</button>
  <span><i class="fas fa-lock"></i> Secure Connection</span>
  </div>
  </div>
</form>
</div>
<div class="col-6">
<div class="confirmation">
  <h1>Confirmation</h1>
  <div class='row'>
<h2>Your Lesson Details</h2>
</div>
<div class='row'>
<h4>Your Tutor: </h4><h5>{{booking?.tutorName}}</h5>
</div>
<div class='row'>
<h4>Date: </h4><h5>{{booking?.date | date:'EEE d MMM'}}</h5>
</div>
<div class='row'>
<h4>Time: </h4><h5>{{booking?.time}}</h5>
</div>
<div class='row'>
<h4>Meeting Location: </h4><h5>{{booking?.location}}</h5>
</div>
<div class='row'>
<h4>Lesson Requirements: </h4><h5>{{booking?.description}}</h5>
</div>

<div style='height:42px'></div>
<!-- <div class='row'>
<h4>Lesson Price :</h4><h5>{{booking?.price}}</h5>
</div>
<hr>
<div class='row'>
<h4>Booking Fee (10% of lesson charge): </h4><h5>29HKD</h5>
</div> -->
<div class='row'>
<h4>Subtotal: </h4><h5 style='font-size: 1.777em;'>{{booking?.price}}.00<span style='font-size: 0.75em;color:#000;'> HKD</span></h5>
</div>
<hr>
<div class="app-card">
  <div class='row'>
    <div class="col-6">
      <h1>Receive notifications straight to your mobile with the app!</h1>
    </div>
    <div class="col-6">
      <img src='assets/images/app-reminder.png'>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
