#dashboard {
  background-color: rgba(255,255,255,0.9);
  border-radius: 14px;
  min-height: 142px;
  padding: 14px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.777em;
  margin-left: 14px;

}
