.booking .col-1 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-2 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-3 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-4 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-5 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-6 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-7 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-8 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-9 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-10 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-11 { padding-left: 3px !important; padding-right: 3px !important;}
.booking .col-12 { padding-left: 3px !important; padding-right: 3px !important;}

#dashboard {
  background-color: rgba(255,255,255,0.9);
  border-radius: 14px;
  min-height: 142px;
  padding: 14px;
  padding-top: 140px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.777em;

}

.info-card h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1em;


}

.info-card {
  color: #000;
  padding: 14px;
  background: rgba(0,0,0,0.03);
}

.availability-widget {
  background: rgba(4,10,24,0.12);
  width: 100%;
  display: block;
  height: 118px;
  padding-top: 14px;
  margin-top: 7px;

}

.availability-widget .week-day {
  width: 13.0857%;
  display: inline-block;
  float: left;
  background-color: rgba(255,255,255,0.66);
  padding-bottom: 4px;
  padding-top: 4px;
  margin-left: 0.6%;
  margin-right: 0.6%;
}

.availability-widget h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 0.75em;
  padding-left: 14px;
  letter-spacing: 1px;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(0,0,0,0.25);

}

.availability-widget .week-day h3 {
  font-size: 0.75em;
  text-align: center;
  width: 100%;
}

.availability-widget .week-day span {
  width: 25px;
  height: 25px;
  margin: auto;
  position: relative;
  display: block;
}

.weekday-active {
    background-color: rgba(45,101,240,1);
    border: 2px solid #000;
    box-shadow: inset 0px 0px 12px 0px rgba(255,255,255,0.5);

}

.weekday-inactive {
  border: 2px solid rgba(0,0,0,0.25);
}

.week-day {
    transition: 0.2s;
}

.week-day:hover {
    background-color: rgba(45,101,240,1);
}


.bio-card {
    font-family: 'Nunito', sans-serif;
    font-size: 0.75em;
    padding: 42px;
    border-radius: 7px;
    color: #555;
    margin-top: 7px;
    border: 2px solid rgba(254,254,115,0.5);
}


.availability-card {
  padding: 14px 25px;
  margin-top: 7px;
  background-color: rgba(45,101,240,1);
  border-radius: 7px;
  border: 2px solid #000;
}

.availability-card h2 {
  text-align: center;
  width: 100%;
  font-size: 1em;
  font-family: 'Fredoka One', sans-serif;
  padding-bottom: 7px;
  padding-top: 3px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  color: #fff;

}

.subject-card {
    background: rgba(8,20,192,0.24);
    margin-top: 7px;
    padding: 4px;
}

.subject-card h2 {
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
  background-color: rgba(255,255,255,0.666);
  padding: 10px;
}

.subject-card h3 {
  padding: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  border: 2px solid rgba(255,255,255,0.25);
  background-color:  rgba(255,255,255,0.666);
  border-radius: 14px;
  display: inline-block;
  margin-left: 7px;
  font-size: 1em;
  font-family: 'Fredoka One', sans-serif;

}


.started-card {
  padding: 14px;
  border: 2px solid rgba(15,81,240,0.25);
  background-color: rgba(15,81,240,1);
  margin-bottom: 7px;
  color: #fff;
}

.started-card h2 {
  font-family: 'Fredoka One', sans-serif;

}

.started-card p {
  font-family: 'Nunito', sans-serif;
}

.lesson-card {
  font-family: 'Nunito', sans-serif;
  padding: 14px;
  margin-bottom: 7px;
}

.lesson-card h2 {
  padding-bottom: 14px;
  border-bottom:2px solid rgba(241,13,99,0.25);
  font-family: 'Fredoka One', sans-serif;

}

.bulletin-card {
  font-family: 'Fredoka One', sans-serif;
  padding: 14px;
  margin-bottom: 7px;

}

.bulletin-card h2 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;

    background-color: #0ff140;
    border: 2px solid #00bd2a;
    border-radius: 7px;
    color: #d0feda;
    cursor: pointer;
}

.availability-widget h3 {
  font-family: 'Fredoka One', cursive;
  font-size: 1em;

}

.lesson-card .booking {
  border-bottom: 1px solid #cacaca;
  padding: 14px;
  font-family: 'Fredoka One', sans-serif;
  font-size: 1em;
  width: 100%;
  margin-left: 0%;
  padding-bottom: 3px;
  text-align: center;
}

.lesson-card h3 {
  font-size: 1em;
      background-color: rgba(45,101,240,1);
      color: #fff;
      padding: 2px;
      border-radius: 7px;
      width: 100%;
      display: block;
      text-align: center;

}



.lesson-card h4 {
  font-size: 1em;
  color: #fff;
  padding: 2px;
  border-radius: 7px;
  text-align: center;
  background-color: #ff0000;
 }

 .lesson-card h5 {
   font-size: 1em;
  }

  .lesson-card h6 {
    font-size: 1em;
   }

.img-container {
width: 100%;
}

.info-card img {
  width: 100%;
  border-radius: 100%;
}

::ng-deep .mat-tooltip {
  background-color: rgba(45,101,240,1);
  font-size: 1em;
  font-family: 'Fredoka One', sans-serif;
  color: #fff;
}
