<h2>Find tutors in your area. Browse through a growing marketplace of tutors in your area and take advantage of unique offers and benefits</h2>
<form (ngSubmit)='onCreateStudent(f)' #f='ngForm'>
<div class='form-group'>
  <label for='email'>First Name</label>
  <input type='text' id='firstname' name='firstname' ngModel class='form-control'>
</div>
<div class='form-group'>
<label for='email'>Last Name</label>
<input type='text' id='lastname' name='lastname' ngModel class='form-control'>
</div>
<div class='form-group'>
<label for='email'>Mail</label>
<input type='email' id='email' name='email' ngModel class='form-control'>
</div>
<div class='form-group'>
<label for='email'>Password</label>
<input type='password' id='password' name='password' ngModel class='form-control'>
</div>
<button class='btn' type='submit'>Sign Up</button>
</form>
