body {
  background-color: #d1fbff;
}

.container-fluid {
  padding: 0px;
  background-color: #ffe11d;

}

#header {
    padding-top: 96px;
    min-height: 80vh;
}

// DELETE DELETE DELETE


// DELETE DELETE DELETE

#header h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.333em;
  position: relative;
  margin-left: 168px;

}

#header h3 {

  color: #000;
  text-align: center;
  font-size: 1em;
  border-bottom: 2px solid #000;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  margin-bottom: 0px;

}

#header h4 {

  font-family: 'Fredoka One', cursive;
  padding: 28px;
  line-height: 1em;
  font-size: 1em;
  background-color: #fefe73;
  color: #151515;
  letter-spacing: 1px;
  border-bottom: 2px solid #000;


}


// DELETE DELETE DELETE DELETE


// DELETE DELETE DELETE DELETE


#header .img-container {
  position: relative;
  top: 7px
}



 #header .header-btn {
    position: absolute;
    left: 264px;
    bottom: 10px;
    font-family: 'Fredoka One', cursive;
    z-index: 1;
    background-color: #f10d63;
    color: #fff;
    font-size: 1.777em;
    letter-spacing: 1px;
    border: 2px solid #000;
    box-shadow: 0px 3px 0px 0px #000;
    transition: 0.2s;
}

 #header button:hover {
   box-shadow: 0px 0px 0px 0px #000;
   bottom: 7px;

 }

.header-card {

  border: 3px solid #000;
  border-radius: 6px;
  margin-bottom: 14px;
  width: 66.667%;
  position: relative;
}

.header-map {
  position: relative;
  z-index: 1;
  margin-left: 160px;
}

.header-bunny {
  position: absolute;
  top: 110px;
  z-index: 0;
  left: -80px;
}

.btn-login {
background-color: #252525;
  color: #fff;
}

.btn-transparent {
  background: rgba(255,255,255,0);
}

.btn-signup {

  background: rgba(11, 68, 200, 0.9);
  color: #fff;
}

.pink { background-color: #f10d63; margin-left: 16.66%;z-index: 1}
.green { background-color: #0ff140; margin-left: 33.33%; margin-top: -28px;z-index: 2 }
.blue { background-color: #0f51f0;z-index: 3; margin-top: -28px;}
