.fluid-container {
  background-color: #0f51f0;
  min-height: 100vh;
}


.subject-container {
  width: 92%;
  margin-left: 4%
}

.form-group {
  border-radius: 7px;

}

.white-border {
  border: 2px solid #fff;
  border-radius: 7px;
}
