<div class='fluid-container'>
  <div class='container'>
    <app-registration-identification [userId]='userId' *ngIf="currentRegistrationStage=='id'"></app-registration-identification>
    <app-registration-bio *ngIf="currentRegistrationStage=='bio'"></app-registration-bio>
    <app-registration-experience *ngIf="currentRegistrationStage=='experience'"></app-registration-experience>
    <app-registration-subjects *ngIf="currentRegistrationStage=='subjects'"></app-registration-subjects>
    <app-registration-availability *ngIf="currentRegistrationStage=='availability'"></app-registration-availability>




  </div>
</div>
