<div class='fluid-container'>
  <div class='container'>
    <app-registration-login *ngIf='!isAuth'></app-registration-login>

    <ng-template [ngIf]='isAuth && !isIdentified'>
    <app-registration-identification [tutorId]='tutorId' *ngIf="!isIdentified"></app-registration-identification>
    </ng-template>

    <ng-template [ngIf]='isAuth && isIdentified && !isBio'>
    <app-registration-bio [tutorId]='tutorId' *ngIf="!isBio"></app-registration-bio>
    </ng-template>
<!--
    <ng-template [ngIf]='isAuth && isIdentified && isBio && !isExperience'>
    <app-registration-experience [tutorId]='tutorId' *ngIf="!isExperience"></app-registration-experience>
    </ng-template> -->

    <ng-template [ngIf]='isAuth && isIdentified && isBio && !isSubject'>
    <app-registration-subjects [tutorId]='tutorId' *ngIf="!isSubject"></app-registration-subjects>
    </ng-template>

    <ng-template [ngIf]='isAuth && isIdentified && isBio && isSubject && !isAvailability'>
    <app-registration-availability [tutorId]='tutorId' *ngIf="!isAvailability"></app-registration-availability>
    </ng-template>

    <ng-template [ngIf]='isAuth && isIdentified && isBio && isSubject && isAvailability'>
      <div class='form-container'>
      <h1>That's everything!</h1>
      <a routerLink='/dashboard'><button class='btn btn-success'>Go To Dashboard</button></a>
      </div>
    </ng-template>


  </div>
</div>
